@import '../node_modules/bulma/sass/utilities/initial-variables.sass';
@import '../node_modules//bulma/sass/utilities/functions';

@font-face {
  font-family: 'fourmasters-vandenkeere';
  src: url('./FourMasters-VandenKeere.woff2') format('woff2');
}

$highlight: rgb(0, 249, 0);
$dark-grey: rgb(74, 74, 74);
$main-color: rgb(33, 91, 245);

$primary: $main-color;

@import '../node_modules/bulma';
body {
  font-family: 'fourmasters-vandenkeere', sans-serif;
  color: $main-color;
  margin: 0;
}

// Intro

.invert {
  background-color: $main-color;
  color: white;
}

.symbol {
  white-space: pre;
  background-color: $main-color;
}

.blinking {
  animation: blinkingText 1s infinite;
}
@keyframes blinkingText {
  0% {
    background-color: $main-color;
  }
  49% {
    background-color: $main-color;
  }
  60% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: $main-color;
  }
}

.intro-text {
  margin: -0.2rem;
}

@media only screen and (min-width: 360px) {
  .intro-text {
    margin: -0.2rem;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 371px) {
  .intro-text {
    margin: -0.2rem;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 432px) {
  .intro-text {
    margin: -0.2rem;
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 528px) {
  .intro-text {
    margin: -0.2rem;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 597px) {
  .intro-text {
    margin: -0.3rem;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 674px) {
  .intro-text {
    margin: -0.3rem;
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 769px) {
  .intro-text {
    margin: -0.3rem;
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 826px) {
  .intro-text {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 959px) {
  .intro-text {
    font-size: 1.9rem;
  }
}

@media only screen and (min-width: 1024px) {
  .intro-text {
    font-size: 1.9rem;
  }
}

@media only screen and (min-width: 1216px) {
  .intro-text {
    font-size: 2.1rem;
  }
}

// Contact

.button {
  border-radius: 16px;
  padding: calc(0.5em - 1px) 2em;
  background-image: linear-gradient(180deg, white 60%, $main-color),
    linear-gradient(90deg, white 60%, $main-color);
}

.contact {
  margin: 1rem;
}

a {
  figure {
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

a {
  i {
    font-size: 1.5rem;
  }
}

.contact-link {
  padding-left: 10px;
}

.columns.is-mobile {
  .column {
    margin: 0.5rem 1rem;
  }
}

.is-underlined {
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

// Skills/Tools

.column > i {
  color: $dark-grey;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.label {
  text-align: center;
  font-family: 'Helvetica', sans-serif;
}

figure {
  text-align: center;
}

svg {
  fill: $dark-grey;
  width: 2rem;
  height: 2rem;
}

.column {
  figure {
    height: 38px;
  }
}

.skill-highlight {
  .label {
    color: $main-color;
  }
  i {
    text-align: center;
    color: $main-color;
  }
  figure {
    svg {
      fill: $main-color;
    }
  }
}

// Projects

.description {
  margin: 0 auto;
  max-width: 480px;
}

.slide-control {
  margin: 0 0 2rem 0;

  button {
    cursor: pointer;
    background-color: white;
    border: none;
    font-weight: 300;
    font-family: 'fourmasters-vandenkeere', sans-serif;
    color: $main-color;
    padding: 10px 14px;
    &:focus {
      outline: 0;
    }
  }

  @media only screen and (min-width: 400px) {
    button {
      margin: 0 0.5rem;
    }
  }

  .project-number {
    transition: color 0.3s ease-in-out;
  }

  .project-number:not(.current):hover {
    color: $dark-grey;
  }

  .current {
    color: white;
    font-weight: 700;
    background-color: $main-color;
    color: white;
    text-align: center;
  }

  .active {
    color: $main-color;
  }

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  text-align: center;
  i {
    padding: 0 1rem;
    font-size: 2rem;
  }
}

.deployment-links {
  margin: 1rem 1rem 0rem;
  display: flex;
  justify-content: space-around;
  a {
    &:hover {
      i {
        color: $main-color;
      }
      .label {
        color: $main-color;
      }
    }
    text-align: center;
    i {
      color: $dark-grey;
      font-size: 2rem;
      text-align: center;
      display: inline-block;
      width: 100%;
    }
  }
}

// Contact

.contact-links {
  a {
    margin: 0 auto;
    max-width: 320px;
  }
}

.level-item {
  color: $main-color;
  svg {
    fill: $main-color;
  }

  &:hover {
    color: $dark-grey;
    svg {
      fill: $dark-grey;
    }
  }
}

// Footer

.footer {
  background-color: $main-color;
  padding: 2rem 0rem;
  color: white;

  a {
    color: white;
  }
  svg {
    fill: white;
  }
}
