body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.column > i {
  font-size: 3rem;
  text-align: center;
  display: inline-block;
  width: 100%;
}



.label {
  text-align: center;
}

figure {
  text-align: center;
}

svg {
  fill: #545454;
  width: 3rem;
  height: 3rem;
}

.column > figure {
  height: 50px;
}

a > figure > svg {
  width: 1.5rem;
  height: 1.5rem;
}

a > i {
  font-size: 1.5rem;
}

.text {
  padding-left: 10px;
}